body {
  padding: 0px;
  margin: 0px
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Container holding the image and the text */
.nav-bar {
  position: absolute;
  top: 0;
  margin-left: 0%;
  padding: 0%;
  Height: 60px;
  width: 100%;
  color: gray;
  background-color: white;
  overflow: hidden;
  border-bottom: 2px solid #dddddd;
  z-index: 3;
 }

 .heading_name {
  background-color: #4aaaa5;
  background-position: 100%;
  color: white;
  text-align: left;
  margin-left: 0%;
  height: 80px;
  font-size: 2em;
  font-weight: bold;
  padding: 0px;
 }

 .ulnav {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: right;
  display: inline;
  float: right;
 }

.container {
  clear: both;
  width: 960px;
  margin-left: 10%;
  margin-right: 10%;
  margin: 50px auto 0 auto;
  background-color: white;
  padding: 3%;
  border: 2px solid #dddddd;
  overflow: hidden; 
  position: relative;
 }

h2 {
   color: #4aaaa5
 }

 .content-topper {
  margin: 0px 0px 0px 0px;
  height: 40px;
  padding: 0px 0px 20px 0px;
  width: 960px;
  border-bottom: 2px solid #dddddd;
 }

 body {
  background-color: #dddddd
 }

 a {
   float: left;
   margin: right 200px;
 }
  
  /* Bottom left text */
  .bottom-left {
    clear: both;
    position: absolute;
    bottom: 200px;
    left: 200px;
    overflow: auto;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 200px;
    left: 200px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 200px;
    right: 200px;
  }
  
  /* Bottom text */
  .bottom {
    position: absolute;
    bottom: 200px;
    right: 200px;
    background-color: lightblue
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue
  }

  h1 {
    background-color: lightblue;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50;
  }

  p.outset {border-style: outset;}

  /* The navbar container */

.topnav {
    overflow: hidden;
    background-color: #333;
  }

  footer {
    left: 0;
    background-color: rgb(128, green, blue);
    border-top: 5px;
    color: lightblue; 
    text-align: center;
    padding: 0;
    line-height: 50px;
    width: 100%;
    margin-bottom: 0%;
    position: absolute; 
  }

  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

  form {
    padding: 15p;
    margin-top: 20px;
    margin-bottom: 20px;
  }
